<header class="header" data-scroll-offset>

  <div class="header__content">
    <div class="container">
      <div class="header__inner">

        <a href="#" class="logo">
          <img src="img/global/lazyload.gif" alt="logo" data-src="img/global/logo.webp" class="lazy">
        </a>

        <div class="header__info"> <span>Режим работы:</span> пн-вс 10:00-21:00 <br> Лента 08:00-22:00</div>

        <button class="nav-menu__toggle burger" type="button" aria-label="открыть меню">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <div class="header__items">
          <ul class="header__menu">
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Карта ТЦ</a></li>
          </ul>

          <div class="search">
            <form action="#" method="get">
              <div class="search__input-wrapper">
                <input type="text" name="query" value="" placeholder="Найти магазин" class="search__input">
                <button type="submit" class="btn search__submit">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.5833 17.4792L11.1042 12.0001C10.6875 12.3612 10.2014 12.6424 9.64583 12.8438C9.09028 13.0452 8.5 13.1459 7.875 13.1459C6.375 13.1459 5.10417 12.6251 4.0625 11.5834C3.02083 10.5417 2.5 9.2848 2.5 7.81258C2.5 6.34036 3.02083 5.08341 4.0625 4.04175C5.10417 3.00008 6.36806 2.47925 7.85417 2.47925C9.32639 2.47925 10.5799 3.00008 11.6146 4.04175C12.6493 5.08341 13.1667 6.34036 13.1667 7.81258C13.1667 8.4098 13.0694 8.98619 12.875 9.54175C12.6806 10.0973 12.3889 10.6181 12 11.1042L17.5 16.5626L16.5833 17.4792ZM7.85417 11.8959C8.97917 11.8959 9.9375 11.4966 10.7292 10.698C11.5208 9.89939 11.9167 8.93758 11.9167 7.81258C11.9167 6.68758 11.5208 5.72578 10.7292 4.92716C9.9375 4.12855 8.97917 3.72925 7.85417 3.72925C6.71528 3.72925 5.74653 4.12855 4.94792 4.92716C4.14931 5.72578 3.75 6.68758 3.75 7.81258C3.75 8.93758 4.14931 9.89939 4.94792 10.698C5.74653 11.4966 6.71528 11.8959 7.85417 11.8959Z"
                      fill="#6B7073" />
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <nav class="nav-menu" >
    <div class="nav-menu__inner">
      <div class="nav-menu__box">
        <div class="container">
          <div class="nav-menu__content">

            <ul class="nav-menu__list">
              <li><a href="#" class="nav-menu__link">О нас</a></li>
              <li><a href="#" class="nav-menu__link">События</a></li>
              <li><a href="#" class="nav-menu__link">Галерея</a></li>
              <li><a href="#" class="nav-menu__link">Аренда</a></li>
              <li><a href="#" class="nav-menu__link">Карта ТЦ</a></li>
              <li><a href="#" class="nav-menu__link">Контакты</a></li>
              <li><a href="#" class="nav-menu__link">Вакансии</a></li>
              <li><a href="#" class="nav-menu__link">Тендеры</a></li>
            </ul>

            <div class="nav-menu__items">
              <div class="nav-menu__item nav-menu__item-shop">
                <h3 class="nav-menu__item-title">Магазины</h3>
                <ul class="nav-menu__item-list">
                  <li><a href="#">Все магазины</a></li>
                  <li><a href="#">Женская одежда</a></li>
                  <li><a href="#">Мужская одежда</a></li>
                  <li><a href="#">Детская одежда</a></li>
                  <li><a href="#">Детские товары</a></li>
                  <li><a href="#">Обувь</a></li>
                  <li><a href="#">Кожгалантерея</a></li>
                  <li><a href="#">Продукты</a></li>

                  <li><a href="#">Цифровая и бытовая техника</a></li>
                  <li><a href="#">Парфюмерия, косметика</a></li>
                  <li><a href="#">Ювелирные украшения</a></li>
                  <li><a href="#">Сувениры, подарки</a></li>
                  <li><a href="#">Полезное</a></li>
                  <li><a href="#">Товары для дома</a></li>
                  <li><a href="#">Спортивные товары, одежда</a></li>
                  <li><a href="#">Товары для животных</a></li>
                </ul>
              </div>
              <div class="nav-menu__item">
                <h3 class="nav-menu__item-title">Кафе и рестораны</h3>
                <ul class="nav-menu__item-list">
                  <li><a href="#">Кафе и рестораны</a></li>
                  <li><a href="#">Рестораны быстрого обслуживания</a></li>
                  <li><a href="#">Кофейни</a></li>
                  <li><a href="#">Мороженое и десерты</a></li>
                </ul>
              </div>
              <div class="nav-menu__item">
                <h3 class="nav-menu__item-title">Услуги и сервисы</h3>
                <ul class="nav-menu__item-list">
                  <li><a href="#">Банкоматы</a></li>
                  <li><a href="#">Салоны связи</a></li>
                  <li><a href="#">Парикмахерские</a></li>
                  <li><a href="#">Администрация</a></li>
                  <li><a href="#">Продукты</a></li>
                  <li><a href="#">Другое</a></li>
                </ul>
              </div>
              <div class="nav-menu__item">
                <h3 class="nav-menu__item-title">Развлечения</h3>
                <ul class="nav-menu__item-list">
                  <li><a href="#">Джунгли парк</a></li>
                  <li><a href="#">Мероприятия</a></li>
                  <li><a href="#">Акции</a></li>
                  <li><a href="#">Новости</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>

</header>
